.li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.list {
  padding: 5px;
}
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-button img {
  width: 20px;
}
